<a href="https://colab.research.google.com/github/SUDHAN1022/my_python/blob/main/day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

printing in python

In [5]:
print("   /|")
print("  / |")
print(" /  |")
print("/   |")
print("Trianlge")

   /|
  / |
 /  |
/   |
Trianlge

Data & Varialbles

In [15]:
character_name="ROHIT"
rohit_age=50
print(character_name +" hits 264 runs")
print(character_name +" won the worldcup ")
character_name="Virat"
rohit_age="20"
print(character_name +" to lead BGT in 2023")
print(character_name +" turns " + rohit_age+" by 2022")

ROHIT hits 264 runs
ROHIT won the worldcup
Virat to lead BGT in 2023
Virat turns 20 by 2022

Strings

In [34]:
phrase="Coding is important"
print(phrase.upper().isupper())
print(len(phrase))
print(phrase[3])
print(phrase.index("is"))
print(phrase.replace("important","Future"))

True
19
i
7
Coding is Future

Numbers

In [15]:
#print(10 % 3)

my_num=-5
print(pow(3,4))
print(max(4,5,6))
print(min(4,5,6))
print(round(3.6))

81
6
4
4

In [21]:
from math import *

print(sqrt(36))

6.0

Getting input from user

In [26]:
Name=input("Enter the name: ")
age=input("Enter the age: ")
print("Hello " + Name + " You are "+ age + " old.")

Enter the name: rohiy
Enter the age: 35
Hello rohiy You are 35 old.

BASIC CALUCULATOR

In [32]:
num1=(input("Enter a num1: "))
num2=(input("Enter a num2: "))
result=float(num1) +float(num2)
print(result)

Enter a num1: 5.4
Enter a num2: 4.5
9.9

MAD LIBS GAME

In [34]:
colour=input("Enter the colour: ")
plural_noun=input("Enter the plural noun: ")
celebrity=input("Enter the celebrity: ")
print("roses are "+ colour )
print(plural_noun +" are blue")
print("I love " +celebrity)

Enter the colour: green
Enter the plural noun: games
Enter the celebrity: rohit
roses are green
games are blue
I love rohit