<a href="https://colab.research.google.com/github/SUDHAN1022/my_python/blob/main/mypython_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num=[10,20,30,40,50]
num.insert(2,22)
print(num)

[10, 20, 22, 30, 40, 50]

In [ ]:
print(num)

[10, 20, 22, 30, 40, 50]

In [ ]:
num=[10,3,24,5]
n=sorted(num)
print(n)

[3, 5, 10, 24]

In [ ]:
a=range(8,1,-1)
b=list(a)
print(b)

[8, 7, 6, 5, 4, 3, 2]

In [ ]:
myDict={1:'word1',2:'word2'}
x=myDict.keys()
print(x)

dict_keys([1, 2])

condition statemets

In [ ]:
a=3
b=5
c=2
if a>b or b>a:
  print("one cond is false")

one cond is false

nested if

In [ ]:
x=int(input("Enter the x value:"))
if x > 10:
  print("above 10")
  if x >20:
    print("also above 20")
  else:
    print("not above 20")

Enter the x value:30
above 10
also above 20

In [ ]:
countodd=0
counteven=0
for i in range(1,11):
    if (i%2!=0):
        countodd=countodd+1
    elif (i%2==0):
        counteven=counteven+1
print("odd:",countodd)
print("even:",counteven)

In [ ]:
count=0
for i in range(1,101):
    if (i%3==0 and i%5==0):
        count=count+1
print(count)

In [ ]:
sum=0
for i in range(1,6):
    sum=sum+i

print(sum)

In [ ]:
a=[]
print("Enter 10 numbers")
for i in range(5):
    b=int(input("Enter value"+str(i+1)))
    a.append(b)

print(a)

sum=0
for i in a:
    sum=sum+i
print(sum)

average=sum/5
print(average)

In [ ]:
a=int(input("Enter n term:"))
sum=0
for i in range(a+1):
    sum=sum+i
print(sum)

In [ ]:
a=int(input("Enter number of integer:"))
for i in range(1,a+1):
    print(i,"and cube of the "+str(i)+" is:",i*i*i)

In [ ]:
for i in range(1,3):
    print("Week:",i)

    for j in range(1,3+1):
        print("Day:",j)
    print("**** ** ****")
print("**** ** ****")

In [ ]:
for i in range(1,5):
    print()
    for j in range(1,i+1):
        print(j,end="")

In [ ]:
i=10
while (i<=200):
    print(i,end=",")
    i=i+10

In [ ]:
i=10
while (i>0):
    print(i)
    i=i-1

In [ ]:
i=3
fact=1
while (i>0):
    fact=fact*i
    i=i-1
print(fact)

In [ ]:
a={"name":"ksr",
   "age":"2",
    "location":"chennai",
    "sport":["cric","foot"]
    }
a.clear()
print(a)

In [ ]:
def add():
    print("Addition")
    a=int(input("Enter A:"))
    b=int(input("Enter B:"))
    print(a+b)

def sub():
    print("subraction")
    a=int(input("Enter A:"))
    b=int(input("Enter B:"))
    print(a-b)

def mul():
    print("multiplication")
    a=int(input("Enter A:"))
    b=int(input("Enter B:"))
    print(a*b)

def div():
    print("division")
    a=int(input("Enter A:"))
    b=int(input("Enter B:"))
    print(a/b)


add()
sub()
mul()
div()

In [ ]:
def findevenorodd(num):
    if (num%2==0):
        print("even")
    else:
        print("odd")
num=int(input("Enter the num:"))
findevenorodd(num)

In [ ]:

def findpassorfail(num):
    if (num>=35):
        print("pass")
    else:
        print("Fail")
num=int(input("Enter the num:"))
findpassorfail(num)

In [ ]:
def printrange(a,b):
    for i in range(a,b):
        print(i)

a=int(input("Enter A:"))
b=int(input("Enter B:"))

printrange(a,b)