<a href="https://colab.research.google.com/github/SUDHAN1022/my_python/blob/main/mypython_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num=[10,20,30,40,50]
num.insert(2,22)
print(num)

[10, 20, 22, 30, 40, 50]

In [ ]:
print(num)

[10, 20, 22, 30, 40, 50]

In [ ]:
num=[10,3,24,5]
n=sorted(num)
print(n)

[3, 5, 10, 24]

In [ ]:
a=range(8,1,-1)
b=list(a)
print(b)

[8, 7, 6, 5, 4, 3, 2]

In [ ]:
myDict={1:'word1',2:'word2'}
x=myDict.keys()
print(x)

dict_keys([1, 2])

condition statemets

In [ ]:
a=3
b=5
c=2
if a>b or b>a:
  print("one cond is false")

one cond is false

nested if

In [ ]:
x=int(input("Enter the x value:"))
if x > 10:
  print("above 10")
  if x >20:
    print("also above 20")
  else:
    print("not above 20")

Enter the x value:30
above 10
also above 20

In [ ]:
countodd=0
counteven=0
for i in range(1,11):
    if (i%2!=0):
        countodd=countodd+1
    elif (i%2==0):
        counteven=counteven+1
print("odd:",countodd)
print("even:",counteven)

In [ ]:
count=0
for i in range(1,101):
    if (i%3==0 and i%5==0):
        count=count+1
print(count)

In [ ]:
sum=0
for i in range(1,6):
    sum=sum+i

print(sum)

In [ ]:
a=[]
print("Enter 10 numbers")
for i in range(5):
    b=int(input("Enter value"+str(i+1)))
    a.append(b)

print(a)

sum=0
for i in a:
    sum=sum+i
print(sum)

average=sum/5
print(average)

In [ ]:
a=int(input("Enter n term:"))
sum=0
for i in range(a+1):
    sum=sum+i
print(sum)

In [ ]:
a=int(input("Enter number of integer:"))
for i in range(1,a+1):
    print(i,"and cube of the "+str(i)+" is:",i*i*i)

In [ ]:
for i in range(1,3):
    print("Week:",i)

    for j in range(1,3+1):
        print("Day:",j)
    print("**** ** ****")
print("**** ** ****")

In [ ]:
for i in range(1,5):
    print()
    for j in range(1,i+1):
        print(j,end="")

In [ ]:
i=10
while (i<=200):
    print(i,end=",")
    i=i+10

In [ ]:
i=10
while (i>0):
    print(i)
    i=i-1

In [ ]:
i=3
fact=1
while (i>0):
    fact=fact*i
    i=i-1
print(fact)

In [ ]:
a={"name":"ksr",
   "age":"2",
    "location":"chennai",
    "sport":["cric","foot"]
    }
a.clear()
print(a)

In [ ]:
def add():
    print("Addition")
    a=int(input("Enter A:"))
    b=int(input("Enter B:"))
    print(a+b)

def sub():
    print("subraction")
    a=int(input("Enter A:"))
    b=int(input("Enter B:"))
    print(a-b)

def mul():
    print("multiplication")
    a=int(input("Enter A:"))
    b=int(input("Enter B:"))
    print(a*b)

def div():
    print("division")
    a=int(input("Enter A:"))
    b=int(input("Enter B:"))
    print(a/b)


add()
sub()
mul()
div()

In [ ]:
def findevenorodd(num):
    if (num%2==0):
        print("even")
    else:
        print("odd")
num=int(input("Enter the num:"))
findevenorodd(num)

In [ ]:

def findpassorfail(num):
    if (num>=35):
        print("pass")
    else:
        print("Fail")
num=int(input("Enter the num:"))
findpassorfail(num)

In [ ]:
def printrange(a,b):
    for i in range(a,b):
        print(i)

a=int(input("Enter A:"))
b=int(input("Enter B:"))

printrange(a,b)

In [ ]:
s_username="emc"
s_password="123"

uname=input("Enter user name:")
password=input("Enter password:")

def validate():
    if (s_username==uname and s_password==password):
        return True
    else:
        return False


a =validate()

print(a)

In [ ]:
a=(int(input("Enter A value:")))
b=(int(input("Enter B value:")))

def add():
    sum=a+b
    return sum

d=add()

print("A+B=",d)

c=(int(input("Enter C value:")))

result=d*c

print("result of (a+b)*C:",result)

In [ ]:
def add(n1,n2):
    return n1+n2

a=int(input("a:"))
b=int(input("b:"))
c=int(input("c:"))

added=add(a,b)

output=added*c

print(output)

In [ ]:
class goa:
    name=""
    drink=""
    def party(self):
        print("lets party.....")
    def beach(self):
        print("Lets go beach...")

ramesh=goa()
suresh=goa()


ramesh.name="Ramesh"
suresh.name="Suresh"

ramesh.drink="Yes"
suresh.drink="No"

ramesh.party()
suresh.beach()
print(ramesh.name)
print("DRINK",ramesh.drink)
print(suresh.name)
print("DRINK",suresh.drink)

In [ ]:
class laptop:
    price=""
    proc=""
    ram=""

hp=laptop()
dell=laptop()

hp.price=50000
hp.proc="i5"
hp.ram="8gb"

dell.price=40000
dell.proc="i3"
dell.ram="4gb"

print(hp.price)
print(dell.price)

In [ ]:
class laptop:
    def __init__(self):
        self.price=0
        self.proc=""
        self.ram=""
    def display(self):
        print("Display")

hp=laptop()
hp.price=40000
hp.proc="i5"
hp.ram="8gb"
print(hp.ram)

In [ ]:
class laptop:
    def __init__(self):
        self.ram=""
        self.price=""
    def display(self):
        print("ram:",self.ram)
        print("price:",self.price)

dell=laptop()
hp=laptop()

dell.price=50000
dell.ram="8gb"
hp.price=25000
hp.ram="6gb"

hp.display()

In [ ]:
class student:
    def __init__(self):
        self.name=""
        self.reg_no=""

    def display(self):
        print("name:",self.name)
        print("reg_no:",self.reg_no)

s1=student()
s2=student()
s1.name="rohit"
s1.reg_no=45
s2.name="virat"
s2.reg_no=18


s1.display()
s2.display()

In [ ]:
class fruit:
    def __init__(self,col):
        self.colour=col

apple=fruit("red")
print(apple.colour)

In [ ]:
class teacher:
    def __init__(self,name,reg) -> None:
        self.name=name
        self.regno=reg

    def display(self):
        print("Name:",self.name)
        print("Reg_no:",self.regno)

t1=teacher("Anu",23)
t2=teacher("sona",20)

t1.display()
t2.display()

In [ ]:
class calculator:
    def __init__(self,num1,num2):
        self.a=num1
        self.b=num2

    def add(self):
        print("A:",self.a)
        print("B:",self.b)
        print("add:",int(self.a)+int(self.b))

    def sub(self):
        print("A:",self.a)
        print("B:",self.b)
        print("sub:",int(self.a)-int(self.b))

    def mul(self):
        print("A:",self.a)
        print("B:",self.b)
        print("mul:",int(self.a)*int(self.b))

    def div(self):
        print("A:",self.a)
        print("B:",self.b)
        print("div:",int(self.a)/int(self.b))



value=calculator("4","8")

value.add()
value.sub()
value.mul()
value.div()

A: 4
B: 8
add: 12
A: 4
B: 8
sub: -4
A: 4
B: 8
mul: 32
A: 4
B: 8
div: 0.5

In [ ]:
class calculator:
    def __init__(self,a,b) -> None:
        self.num1=a
        self.num2=b

    def add(self):
        print("Add:",int(self.num1)+int(self.num2))

    def sub(self):
        print("Sub:",int(self.num1)-int(self.num2))

    def mul(self):
        print("mul:",int(self.num1)*int(self.num2))

    def div(self):
        print("Div:",int(self.num1)/int(self.num2))

value=calculator(4,6)

value.add()
value.sub()
value.mul()
value.div()

In [ ]:
class phone:
    chargertype="c-Type"
    def __init__(self,brand,price) -> None:
        self.brand=brand
        self.price=price

    def display(self):
        print("Brand:",self.brand)
        print("Price:",self.price)
        print("Chargertype:",self.chargertype)
phone.chargertype="B-Type"
samsung=phone("samsung",20000)
samsung.display()

redmi=phone("redmi",15000)
redmi.display()

In [ ]:
class laptop:
    chargertype="c-type"
    def __init__(self) -> None:
        self.brand=""
        self.price=34
    def setprice(self,price):
        self.price=price
    def getprice(self):
        print("Price:",self.price)

    @classmethod
    def changechargertype(cls):
        cls.chargertype="b-type"
        print("Charger type changed to B")

hp=laptop()
hp.setprice(20000)
hp.getprice()
laptop.changechargertype()

In [ ]:
class laptop:
    chargertype="c-type"
    def __init__(self) -> None:
        self.brand=""
        self.price=34
    def setprice(self,price):
        self.price=price
    def getprice(self):
        print("Price:",self.price)

    @classmethod
    def changechargertype(cls):
        cls.chargertype="b-type"
        print("Charger type changed to B")
    @staticmethod
    def info():
        print("This is Python")

hp=laptop()
hp.setprice(20000)
hp.getprice()
hp.info()
laptop.changechargertype()

In [ ]:
class dad:
    def phone(self):
        print("dads phone")
class son(dad):
    def laptop(slef):
        print("sons laptop")

ram=son()
ram.phone()

In [ ]:
class dad:
    def phone(self):
        print("dads phone")
class mom:
    def sweet(self):
        print("moms Sweet")
class son(dad,mom):
    def laptop(slef):
        print("sons laptop")

ram=son()
ram.phone()
ram.sweet()

In [ ]:
class grandpa:
    def phone(self):
        print("grandpa phone")

class dad(grandpa):
    def money(self):
        print("dad money")

class son(dad):
    def laptop(self):
        print("sons laptop")

ram=son()

ram.laptop()
ram.money()
ram.phone()

In [ ]:
class dad:
    def money(self):
        print("dads money")

class son1(dad):
    pass
class son2(dad):
    pass
class son2(dad):
    pass

s2=son2()
s2.money()

In [ ]:
class teacher():
    def __init__(self) -> None:
        self.name="anu"
        print("Name:",self.name)


class school(teacher):
    def __init__(self) -> None:
        super().__init__()
        self.name="malar"
    def display(self):
        print("Name:",self.name)



t1=school()
t1.display()

In [ ]:
class animal():
    def sound(self):
        print("animal makes sound")
class dog(animal):
    def sound(Self):
        print("dog barks")
class bird(animal):
    def sound(self):
        print("birds sing")


a1=animal()
d1=dog()

b1=bird()

b1.sound()

In [ ]:
class shape():
    def area(self):
        return 0

class rectangle(shape):
    def area(self):
        l=int(input("L:"))
        b=int(input("B:"))
        return l*b

s2=rectangle()
print(s2.area())

In [ ]:
class person():
    def __init__(self,name) -> None:
        self.name=name

class student(person):
    def __init__(self,name,grade) -> None:
        super().__init__(name)
        self.grade=grade

    def display(self):
        print(self.name,self.grade)

s1=student("Hari","A")
s1.display()

In [ ]:
class vehicle():
    def start(self):
        print("Vehicle started")

class car(vehicle):
    def start(self):
        print("car started")

c=car()
c.start()

car started

In [ ]:
class employee():
    def __init__(self,name,salary) -> None:
        self.name=name
        self.salary=salary

class manager(employee):
    def __init__(self,name,department,salary) -> None:
        super().__init__(name,salary)
        self.department=department

    def display(self):
        print(self.name,self.department,self.salary)

m1=manager("Sid","CSE",200000)
m1.display()

In [ ]:
class company():
    def __init__(self) -> None:
        self._companyname="Google"

class b(company):
    pass

b1=b()

print(b1._companyname)

In [ ]:
try:
    a=int(input())
    b=int(input())
    c=input()
    print(c/a)
except ValueError as e:
    print("ValueError",e)
except TypeError as e:
    print("TypeError",e)

In [ ]:
try:
    a=int(input())
    b=int(input())
except ValueError as e:
    print("ValueError",e)
except TypeError as e:
    print("TypeError",e)
except Exception :
    print("something wrong")
finally:
    print("done")