<a href="https://colab.research.google.com/github/SUDHAN1022/my_python/blob/main/python_s3_ipynbp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LIST  FUNCTIONS

In [ ]:
lucky_numbers=[4,3,6,9,12,13]

friends=["bobby","max","pop","pop","loki","kim"]
friends2=friends.copy()
print(friends2)

['bobby', 'max', 'pop', 'pop', 'loki', 'kim']

TUPLES
-CONTAINER WHERE TO STORES DATATYPE

In [ ]:
coordinates=[(1,2), (4,5),(6,7)]
coordinates[1]=(0,2)

print(coordinates)

[(1, 2), (0, 2), (6, 7)]

FUNCTIONS

In [ ]:
def say_hi():
  print("hello")

say_hi()

hello

In [ ]:
def say_hi():
  print("hello")

print("Top")
say_hi()
print("Bottom")

Top
hello
Bottom

In [ ]:
def say_hi(name):
  print("hello "+ name)

say_hi("rohit")
say_hi("virat")

hello rohit
hello virat

In [ ]:
def say_hi(name, age):
  print("hello "+ name + ",you are "+ str(age))
say_hi("rohit",35)
say_hi("virat",34)

hello rohit,you are 35
hello virat,you are 34

RETURN STATEMENT IN FUNCTION

In [ ]:
def cube(num):
  
  return num*num*num

cube(3)

27

In [ ]:
def cube(num):
  return num*num*num
  print("code")

result=cube(4)
print(result)

64

IF STATEMENTS

In [ ]:
is_male=True

if is_male:
  print("you are male")
else:
  print("you are not a male")

you are male

In [ ]:
is_male=True
is_tall=False

if is_male or is_tall:
  print("you are male or tall or both")

else:
  print("you are neither male nor tall")

you are male or tall or both

In [ ]:
is_male=True
is_tall=False

if is_male and is_tall:
  print("you are tall male")
else:
  print("you are either not male or not tall or both")

you are either not male or not tall or both

In [ ]:
is_male=False
is_tall=True

if is_male and is_tall:
  print("you are tall male")
elif is_male and not(is_tall):
  print("you are a short male") 
elif not(is_male) and  is_tall:
  print("you are not a male but tall")   
else:
  print("you are either not a male or not tall or both")

you are not a male but tall

TRY OUT

In [ ]:
def max_num(num1,num2,num3):
  if num1 >=num2 and num1 >=num3:
    return num1
  elif num2>=num1 and num2 >=num3:
    return num2 
  elif num3>=num1 and num3 >=num2:
    return num3

print(max_num(3,41,5))

41

BUILDING A CALCULATOR

In [ ]:
num1=float(input("Enter first number: "))
op=input("Enter opeartor: ")
num2=float(input("Enter second number: "))

if op== "+":
  print(num1+num2)
elif op == "-":
  print(num1-num2)
elif op == "*":
  print(num1*num2)
elif op == "/":
  print(num1 / num2)
else :
  print("opeartor doesn'4t exit")

Enter first number: 4
Enter opeartor: ?
Enter second number: 2
opeartor doesn't exit

DICTIONARIES

In [ ]:
monthconversions={
    "jan": "january",
    "feb" : "feburauy",
    "mar": "march",
    "apl":"april",
    "may":"may"
}

print(monthconversions["jan"])
print(monthconversions.get("kol","Not a valid key"))

january
Not a valid key

WHILE LOOP

In [ ]:
i=1
while i<=10:
  print(i)
  i +=1

print("Done with loop")

1
2
3
4
5
6
7
8
9
10
Done with loop

In [ ]:
i=1
while i<=10:
  print(i)
  i=i+1

print("done")

1
2
3
4
5
6
7
8
9
10
done

In [ ]:
for i in range(0,10,2):
  print(i)

0
2
4
6
8

In [ ]:
i=0
while i<10:
  print(i)
  i=i+1
print("done !")

0
1
2
3
4
5
6
7
8
9
done !

In [ ]:
num =[ 1,2,3,4,5]

for num in num:
  if num==3:
    print("Found")
    continue
  print(num)

1
2
Found
4
5

In [ ]:
num =[1,2,3,4,5]

for num in num:
  for letters in 'abc':
    print(num,letters)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c
4 a
4 b
4 c
5 a
5 b
5 c

BUILDING A GUESSING GAME

In [ ]:
secret_word="rohit"
guess=""

while guess !=secret_word:
  guess=input("ENTER THE WORD:")

print("you win!")

ENTER THE WORD:ghjk
ENTER THE WORD:rohit
you win!

In [ ]:
secret_word='coding'
guess=''
guess_count=0
guess_limit=3
out_of_guesses=False

while guess!=secret_word and not(out_of_guesses):
  if guess_count < guess_limit:
    guess=input("ENTER THE GUESS:")
    guess_count+=1
  else:
    out_of_guesses=True

if out_of_guesses:
   print("Out of guesses , you lose !!")
else:
  print("you win !")

ENTER THE GUESS:os
ENTER THE GUESS:coding
you win !

FOR LOOP

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
friends=["jim","kop","fod"]
for index in range(5):
  if index==0:
    print("first")
  else:
    print("not fisrt")

first
not fisrt
not fisrt
not fisrt
not fisrt

Exponent function

In [ ]:
def raise_to_power(base_num,pow_num):
  result = 1
  for index in range(pow_num):
    result= result * base_num
  return result
print(raise_to_power(3,2))

9

2D Lists &  Nested Loops

In [ ]:
number_grid=[
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [0]
]

print(number_grid)
print(number_grid[0][0])
print(number_grid[2][1])

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [0]]
1
8

In [ ]:
number_grid=[
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [0]
]

for row in number_grid:
  for col in row:
    print(col)

1
2
3
4
5
6
7
8
9
0

Break statement

In [ ]:
i=1
while i<6:
    print(i)
    if (i==3):
        break
    i+=1

1
2
3

continue statement

In [ ]:
i=0
while i<6:
    i+=1
    if(i==3):
        continue
    print(i)

1
2
4
5
6

In [ ]:
fruits= ["mango","apple","banana","orange"]

for x in fruits:
    if x=="banana":
        #break
        continue
    print(x)

mango
apple
orange

In [ ]:
for x in range(6):
    print(x)
else:
    print("finished")

0
1
2
3
4
5
finished

In [ ]:
adj=["red","big","tasty"]
friuts=["apple","banana","cherry"]

for x in adj:
    for y in friuts:
        print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
for x in [0,1,2]:
    pass

In [ ]:
#adding two numbers
num1=int(input("Enter the num1:" ))
num2=int(input("Enter the num2:" ))

sum=num1 + num2

print("Sum of {0} and {1} is {2}" .format(num1, num2, sum))

Enter the num1:10
Enter the num2:15
Sum of 10 and 15 is 25

In [ ]:
#adding two float values from user

num1=input("Enter First number:" )
num2=input("Enter Second number:" )

sum = float(num1)+float(num2)

print("sum of {0} and {1} is {2}".format(num1,num2,sum))

Enter First number:2.2
Enter Second number:2.3
sum of 2.2 and 2.3 is 4.5

In [ ]:
#program for simple interest

P=int(input("Enter the principle amount:"))
T=int(input("Enter time: "))
R=int(input("Enter rate: "))

sp=(P*T*R)/100

print("Simple Interset is :{0}".format(sp))

Enter the principle amount:1000
Enter time: 10
Enter rate: 7
Simple Interset is :700.0

In [ ]:
def simple_int(P,T,R):
    print("The principle amount is",P)
    print("The time period is",T)
    print("the rate of interest is",R)


    si=(P*T*R)/100
    print("The Simple Intrest is",si)
    
    
simple_int(10000,5,5)

The principle amount is 10000
The time period is 5
the rate of interest is 5
The Simple Intrest is 2500.0

In [ ]:
def compound_interest(principle,time,rate):

    amount=principle*(pow((1+rate/100),time))
    ci=amount-principle
    print("compound interest is",ci)

compound_interest(1200,2,5.4)

compound interest is 133.0992000000001

In [ ]:
def findarea(r):
  pi=3.142
  return pi*(r*r);

print("area is %.6f" % findarea(5))

area is 78.550000

In [1]:
#Prime number program
num=8
for i in range(2,num):
  if num%i==0:
    print("Its Not prime number")
    break
else:
    print("Its prime number")

Its Not prime number

In [2]:
#pattern digit printing

def pattern(n):

  for i in n:
    print("|",end="")
    print("*" *int(i))

n="12345"
pattern(n)

|*
|**
|***
|****
|*****