<a href="https://colab.research.google.com/github/SUDHAN1022/my_python/blob/main/python_s3_ipynbp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LIST  FUNCTIONS

In [ ]:
lucky_numbers=[4,3,6,9,12,13]

friends=["bobby","max","pop","pop","loki","kim"]
friends2=friends.copy()
print(friends2)

['bobby', 'max', 'pop', 'pop', 'loki', 'kim']

TUPLES
-CONTAINER WHERE TO STORES DATATYPE

In [ ]:
coordinates=[(1,2), (4,5),(6,7)]
coordinates[1]=(0,2)

print(coordinates)

[(1, 2), (0, 2), (6, 7)]

FUNCTIONS

In [ ]:
def say_hi():
  print("hello")

say_hi()

hello

In [ ]:
def say_hi():
  print("hello")

print("Top")
say_hi()
print("Bottom")

Top
hello
Bottom

In [ ]:
def say_hi(name):
  print("hello "+ name)

say_hi("rohit")
say_hi("virat")

hello rohit
hello virat

In [ ]:
def say_hi(name, age):
  print("hello "+ name + ",you are "+ str(age))
say_hi("rohit",35)
say_hi("virat",34)

hello rohit,you are 35
hello virat,you are 34

RETURN STATEMENT IN FUNCTION

In [ ]:
def cube(num):
  
  return num*num*num

cube(3)

27

In [ ]:
def cube(num):
  return num*num*num
  print("code")

result=cube(4)
print(result)

64

IF STATEMENTS

In [ ]:
is_male=True

if is_male:
  print("you are male")
else:
  print("you are not a male")

you are male

In [ ]:
is_male=True
is_tall=False

if is_male or is_tall:
  print("you are male or tall or both")

else:
  print("you are neither male nor tall")

you are male or tall or both

In [ ]:
is_male=True
is_tall=False

if is_male and is_tall:
  print("you are tall male")
else:
  print("you are either not male or not tall or both")

you are either not male or not tall or both

In [ ]:
is_male=False
is_tall=True

if is_male and is_tall:
  print("you are tall male")
elif is_male and not(is_tall):
  print("you are a short male") 
elif not(is_male) and  is_tall:
  print("you are not a male but tall")   
else:
  print("you are either not a male or not tall or both")

you are not a male but tall

TRY OUT

In [ ]:
def max_num(num1,num2,num3):
  if num1 >=num2 and num1 >=num3:
    return num1
  elif num2>=num1 and num2 >=num3:
    return num2 
  elif num3>=num1 and num3 >=num2:
    return num3

print(max_num(3,41,5))

41

BUILDING A CALCULATOR

In [ ]:
num1=float(input("Enter first number: "))
op=input("Enter opeartor: ")
num2=float(input("Enter second number: "))

if op== "+":
  print(num1+num2)
elif op == "-":
  print(num1-num2)
elif op == "*":
  print(num1*num2)
elif op == "/":
  print(num1 / num2)
else :
  print("opeartor doesn'4t exit")

Enter first number: 4
Enter opeartor: ?
Enter second number: 2
opeartor doesn't exit

DICTIONARIES

In [ ]:
monthconversions={
    "jan": "january",
    "feb" : "feburauy",
    "mar": "march",
    "apl":"april",
    "may":"may"
}

print(monthconversions["jan"])
print(monthconversions.get("kol","Not a valid key"))

january
Not a valid key

WHILE LOOP

In [ ]:
i=1
while i<=10:
  print(i)
  i +=1

print("Done with loop")

1
2
3
4
5
6
7
8
9
10
Done with loop

BUILDING A GUESSING GAME

In [3]:
i=1
while i<=10:
  print(i)
  i=i+1

print("done")

1
2
3
4
5
6
7
8
9
10
done